@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* Reset */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/* Main Styling */
html,
body {
	font-family: 'Montserrat', sans-serif;
}

h1 {
	font-size: 2.5rem;
}
h2 {
	font-size: 2rem;
}
h3 {
	font-size: 1.75rem;
}
h4 {
	font-size: 1.5rem;
}
h5 {
	font-size: 1.25rem;
}
h6 {
	font-size: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin-bottom: 15px;
	font-weight: 500;
}

img {
	max-width: 100%;
}

p {
	font-size: 1rem;
	margin: 10px 0;
	line-height: 1.7em;
}

a {
	text-decoration: none;
}

/* Utility Classes */
.container {
	max-width: 1100px;
	margin: 0 auto;
	padding: 0 30px;
}

.display-1 {
	font-size: 3rem;
}

.display-2 {
	font-size: 2.2rem;
}

.display-1,
.display-2 {
	font-weight: 500;
}

.fa-whatsapp {
	color: #fff;
	background: #65d072;
	border-radius: 50%;
}

.fa-whatsapp,
.fa-phone,
.fa-envelope,
.fa-map {
	padding: 5px;
}

/* Flex */
.flex {
	display: flex;
}

.flex-box-1 {
	flex: 1;
}

.flex-box-2 {
	flex: 2;
}

/* Background */
.bk-showcase {
	background: url('/image/showcase.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.bk-gray {
	background: #f9f9f9;
}

.bk-whatsapp {
	background: #65d072;
}

.bk-orange-light {
	background: #eca353;
}

.bk-orange {
	background: #ea9940;
}

/* Padding */
.pt-1 {
	padding-top: 200px;
}

.pt-2 {
	padding-top: 80px;
}

.pt-3 {
	padding-top: 40px;
}

.pt-4 {
	padding-top: 20px;
}

.pt-5 {
	padding-top: 10px;
}

.pb-1 {
	padding-bottom: 200px;
}

.pb-2 {
	padding-bottom: 80px;
}

.pb-3 {
	padding-bottom: 40px;
}

.pb-4 {
	padding-bottom: 20px;
}

.pb-5 {
	padding-bottom: 10px;
}

.m-1 {
	margin: 20px;
}

.mt-1 {
	margin-top: 20px;
}

/* Width */
.w-50 {
	width: 50%;
}

.w-60 {
	width: 60%;
	margin: 0 auto;
}

/* Text */
.txt-large {
	font-size: 20px;
}

.txt-small {
	font-size: 12px;
}

.txt-quote {
	font-style: italic;
}

.txt-center {
	text-align: center;
}

.txt-right {
	text-align: right;
}

.txt-orange {
	color: #ea9940;
}

.txt-white {
	color: #fff;
}

/* Button */
.btn {
	display: inline-block;
	font-size: 15px;
	padding: 12px 25px;
	font-weight: 600;
	letter-spacing: 1px;
	border-radius: 4px;
	border: none;
}

.btn-orange {
	background: #ea9940;
	color: #fff;
}

.btn-whatsapp {
	background: #fff;
	color: #65d072;
}

.btn-cta {
	background: #a0c760;
	color: #fff !important;
	padding: 18px 12px;
}

/* Navbar */
.navbar {
	height: 10vh;
}

.navbar .logo img {
	height: 40px;
}

.navbar a {
	color: #000;
	font-size: 14px;
	font-weight: 400;
}

.navbar .container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100%;
}

.navbar ul {
	display: flex;
}

.navbar ul li {
	list-style: none;
	padding: 20px 10px;
}

/* Showcase */
#showcase {
	height: 90vh;
}

/* About */
#home-about img {
	padding-right: 80px;
}

/* Features */
#features img {
	height: 50px;
}

/* Footer */
#mainfooter ul li {
	list-style: none;
	line-height: 2em;
}

#mainfooter a {
	color: #fff;
}

.mainfooter-menu img {
	height: 30px;
}
